{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
DB Create
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST" action="/dbcreate">
        <h2>Welcome to the PostgreSQL DbCreate Utility</h2>
            {{ form.hidden_tag() }}
            {{ wtf.form_field(form.dbServer) }}
            {{ wtf.form_field(form.dbName) }}
            {{ wtf.form_field(form.dbAdmin) }}
            {{ wtf.form_field(form.dbAdminPW) }}
            {{ wtf.form_field(form.dbRunSQL) }}
            <button class="btn btn-sm btn-primary" type="submit">Submit</button>
        </form>
    </div> <!-- /container -->

    <div class="container"><hr></div>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                {{ message }}</br>
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        {% if secret %}
            <div class="alert alert-success" role="alert">
                {% for i in secret %}
                {{ i }}</br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}